<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помилка</title>
    <style>
       body {
            color:#fff;
            background-color:#333 ;
            text-align: center;
            padding-top: 100px;
       } 
       a{
        color:rgb(246,46,46);
        text-decoration: none;
       }
       a:hover{
        text-decoration: underline;
       }
    </style>
</head>
<body>
    <h1>Помилка</h1>
    <p>Такої сторінки не має. Перейдіть на <a href="/"> головну</a></p>
    
</body>
</html>